h4.PISH:hover{
    font-family: "verdana",'Times New Roman', Times, serif;
    font-size: 16px;
    color:grey;
    text-align: left;
    box-shadow: 5px 10px 15px darkslategray;
  }
  h4.names:hover{
    font-family: Times New Roman;
    font-size: 16px;
    color: black;
    text-align: left;
    box-shadow: 5px 10px 20px darkgoldenrod;
  }

  h4.NANK:hover {
    font-family: "verdana",'Times New Roman', Times, serif;
    font-size: 16px;
    color:black;
    text-align: left;
    box-shadow: 5px 10px 20px darkolivegreen;
  }

  h4.POOH:hover {
    font-family: verdana;
    font-size: 16px;
    color: black;
    text-align: left;
    box-shadow: 5px 10px 20px darkslateblue;
  }

  h4.inconceivable {
   
    text-decoration-line: overline;
    font-family: "verdana",'Times New Roman', Times, serif;
    font-size: 16px;
    color: brown;
    text-align: left;
  }
  h4.group {
    text-decoration-line: overline;
    font-family: "verdana",'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
    text-align: left;

  }

  p.song {
    letter-spacing: 1px;
    line-height: 1.8;
    word-spacing: -2px;
    text-indent: 50px;
    font-family: "verdana",'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    font-family: verdana;
    text-align: left;
  }
  

  p.speech {
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 1px;
    line-height: 1.8;
    word-spacing: -2px;
    text-decoration-line: underline;
    text-indent: 50px;
    font-family:"serif", verdana,'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    text-align: left;
    
  }
  p.direction:hover{
    font-family: "Times";
    font-size: 14px;
    color: black;
    text-align: left;
    background-color: lightgreen;
  }

  table {
    border-collapse: collapse;
    border: 1px solid;
  }
  th {
    background-color: #04AA6D;
    color: brown;
  }
  tr:hover {
    background-color: coral;
    }

  tr:nth-child(2){
    background-color: paleturquoise;
    color: darkmagenta;
  }
  th,td {
    border: 1px solid;
    text-align: center;
    padding: 15px;
    height: 30px;
    vertical-align: bottom;
    margin: 100px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }